<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h3>Account management</h3>
        </div>
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">Security <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#2fa" data-toggle="tab">2 Factor Authentication</a></li>
                            <li *ngIf="accountDetails.hasAuthenticator"><a href="#resetAuthenticator" data-toggle="tab">Reset authenticator</a></li>
                            <li><a href="#resetpassword" data-toggle="tab">Reset password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="profile">
                        <div class="table-responsive">
                            <table class="table">
                                <caption>Basic info</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">2FA Enabled</th>
                                        <th scope="col">Has Authenticator</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{accountDetails.username}}</td>
                                        <td>{{accountDetails.email}}</td>
                                        <td>{{accountDetails.twoFactorEnabled}}</td>
                                        <td>{{accountDetails.hasAuthenticator}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="table-responsive">
                            <table class="table">
                                <caption>External providers</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Provider</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let provider of accountDetails.externalLogins; let i = index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{provider}}</td>
                                        <td>
                                            <img src="/images/{{provider}}.png" style="width: 20px; margin: 5px 5px 10px;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row tab-pane fade" id="2fa">
                        <div class="col-sm-6 col-sm-offset-3" style="margin-bottom:20px" *ngIf="!displayAuthenticator">
                            <button type="button" (click)="setupAuthenticator()" class="form-control btn">Setup authenticator</button>
                        </div>
                        <div class="col-sm-3 col-sm-offset-3" style="margin-bottom: 20px" *ngIf="!displayAuthenticator && accountDetails.twoFactorEnabled">
                            <button [disabled]="!accountDetails.twoFactorEnabled" type="button" (click)="resetRecoverCodes()" class="form-control btn">Reset recovery codes</button>
                        </div>
                        <div class="col-sm-3" style="margin-bottom: 20px" *ngIf="!displayAuthenticator && accountDetails.twoFactorEnabled">
                            <button type="button" (click)="disable2FA()" class="form-control btn btn-danger">Disable 2FA</button>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3" style="margin-bottom:20px" *ngIf="displayAuthenticator">
                            <p>Scan the QR Code or enter the following key into your two factor authenticator app. Spaces and casing do not matter</p>
                            <div style="text-align: center; color: lightgreen;font-size: 20px;">{{authenticatorDetails.sharedKey}}</div>
                            <div id="genQrCode"><span *ngIf="generatingQrCode">Generating...</span></div>
                            <div>
                                Once you have scanned the QR code or input the key above, your two factor authentication app will provide you with a unique code. Enter the code in the confirmation box below
                                <input class="form-control" name="username" id="username" [(ngModel)]="verificationCode" type="text" placeholder="Verification Code" style="margin: 10px 0;" />
                                <button type="button" (click)="verifyAuthenticator()" class="form-control btn btn-primary">Verify</button>
                            </div>
                            <div class="form-group" *ngIf="errors.length > 0">
                                <ul [innerHTML]="errors" style="color: #E91E63; margin: 10px 0;"></ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3" *ngIf="recoveryCodes.length > 0">
                            <h5>Copy and save your recovery codes</h5>
                            <ul>
                                <li *ngFor="let recoveryCode of recoveryCodes">{{recoveryCode}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="resetAuthenticator">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="alert alert-warning" role="alert">
                                <p>
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                    <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
                                </p>
                                <p>
                                    This process disables 2FA until you verify your authenticator app.
                                    If you do not complete your authenticator app configuration you may lose access to your account.
                                </p>
                            </div>
                            <button type="button" class="form-control btn btn-danger">Reset authenticator</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="resetpassword">Default 5</div>
                </div>
            </div>
        </div>
    </div>
</div>
