<div class="manage-users">
    <h1>
        Manage View
        <em>
            <small>
                <font face="Tahoma" color="red">{{users.length}}</font> total users
            </small>
        </em>
    </h1>
    <br />
    <h4>Only administrators can access this view</h4>
    <br />
    <div class="row">
        <div class="table-responsive">
            <table class="table table-condensed">

                <!--Table head-->
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Email confirmed</th>
                        <th>2 FA enabled</th>
                        <th>Lockout Enabled</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.userName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.emailConfirmed}}</td>
                        <td>{{user.twoFactorEnabled}}</td>
                        <td>{{user.lockoutEnabled}}</td>
                    </tr>
                </tbody>
                <!--Table body-->

            </table>
        </div>
    </div>
</div>