<h3>Sample videos available in our Streaming Service</h3>
<h4><em>available only for a few days</em></h4>

<hr/>
<h4>Want the full experience? Click <a [routerLink]="['/streaming/register']">here</a> and register for specific Streaming Categories!</h4>

<div class="row">
    <div class="col-sm-6 video" *ngFor="let video of videos">
        <h3 class="video-title">{{video.title}}</h3>
        <h4 class="video-description">{{video.description}}</h4>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="sanitizeUrl(video.url)"></iframe>
        </div>
    </div>
</div>