.video {
    background-color: #333333;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    ;
    padding-bottom: 20px;
    padding-top: 10px;
}

.video-title {
    color:whitesmoke;
}

.video-description {
    color:red;
}

.video-category {
    font-style: italic;
    color: brown;
}