<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">ASP.NET Core Identity</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="!stateService.isAuthenticated()">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-user'></span> Login
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="!stateService.isAuthenticated()">
                    <a [routerLink]="['/register']">
                        <span class='glyphicon glyphicon-pencil'></span> Register
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/claims']">
                        <span class='glyphicon glyphicon-lock'></span> Claims
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/videos']">
                        <span class='glyphicon glyphicon-facetime-video'></span> Videos (Trial)
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/streaming/register']">
                        <span class='glyphicon glyphicon-forward'></span> My Streaming
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="stateService.isAuthenticated()">
                    <a [routerLink]="['/manage/users']">
                        <span class='glyphicon glyphicon-cog'></span> Admin panel
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="stateService.isAuthenticated()">
                    <a (click)="logout()" class="logout">
                        <span class='glyphicon glyphicon-log-out'></span> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
