<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCoreIdentity</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link href="/content/ng2-toastr.min.css" rel="stylesheet" />
    <style>
        html {
            height: 100vh;
        }
        html, body {
            background-color: #2b4162;
            background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
            min-height: 100vh;
            color: whitesmoke;
        }
    </style>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
