<div class="">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="" method="post" role="form">
                                <div *ngIf="!requires2FA">
                                    <div class="form-group">
                                        <input type="text" (keydown)="onKeydown($event)" name="username" id="username" [(ngModel)]="user.username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group" *ngIf="!requires2FA">
                                        <input type="password" (keydown)="onKeydown($event)" name="password" id="password" [(ngModel)]="user.password" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div *ngIf="requires2FA">
                                    <div class="form-group">
                                        <input type="text" (keydown)="onKeydown($event)" name="twoFaCode" id="twoFaCode" [(ngModel)]="twoFaCode" tabindex="3" class="form-control" [placeholder]="twoFaPlaceholder()">
                                    </div>
                                    <div class="form-group" *ngIf="!useRecoveryCode">
                                        <label class="checkbox-inline"><input type="checkbox" name="rememberMachine" [(ngModel)]="rememberMachine">Remember machine</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="checkbox-inline"><input type="checkbox" name="useRecoveryCode" [(ngModel)]="useRecoveryCode">Use recovery code</label>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="errors.length > 0">
                                    <ul [innerHTML]="errors" style="color: #E91E63"></ul>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="button" name="login-submit" id="login-submit" tabindex="3" (click)="login()" class="form-control btn btn-login">Log in</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <div style="font-size: 20px;text-align: center">
                        <div style="margin-bottom: 10px">Or login with your Social account</div>

                        <a *ngFor="let provider of socialProviders" href="/socialaccount/login?provider={{provider}}">
                            <img src="/images/{{provider}}.png" style="width: 65px; margin: 5px 10px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>