@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.navbar-default {
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border-bottom: 1px solid #d4dadf;
    background-color: #FFFFFF;
}

    .navbar-default .navbar-nav > li > a {
        color: #3884FE !important;
        font-size: 16px;
        font-family: Content-font, Roboto, sans-serif;
        font-weight: 600;
    }

.container-fluid.content {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .navbar-default {
        display: none;
    }
}