<div class="claims">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="text-center">
                        <strong>{{userName}}</strong> claims:
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div *ngFor="let claim of claims">
                                Type:
                                <strong class="claimType">{{claim.type}}</strong>
                                <br /> Value:
                                <span>{{claim.value}}</span>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>