<div class="col-sm-6 col-sm-offset-3" style="margin-bottom:20px" *ngIf="!displayAuthenticator">
    <button type="button" (click)="setupAuthenticator()" class="form-control btn">Setup authenticator</button>
</div>
<div class="col-sm-3 col-sm-offset-3" style="margin-bottom: 20px" *ngIf="!displayAuthenticator && accountDetails.twoFactorEnabled">
    <button [disabled]="!accountDetails.twoFactorEnabled" type="button" (click)="resetRecoverCodes()" class="form-control btn">Reset recovery codes</button>
</div>
<div class="col-sm-3" style="margin-bottom: 20px" *ngIf="!displayAuthenticator && accountDetails.twoFactorEnabled">
    <button type="button" (click)="disable2FA()" class="form-control btn btn-danger">Disable 2FA</button>
</div>
<div class="col-sm-6 col-sm-offset-3" style="margin-bottom:20px" *ngIf="displayAuthenticator">
    <p>Scan the QR Code or enter the following key into your two factor authenticator app. Spaces and casing do not matter</p>
    <div class="authenticatorKey">{{authenticatorDetails.sharedKey}}</div>
    <div id="genQrCode"><span *ngIf="generatingQrCode">Generating...</span></div>
    <div style="margin-bottom: 10px">
        Once you have scanned the QR code or input the key above, your two factor authentication app will provide you with a unique code. Enter the code in the confirmation box below
        <input class="form-control" (keydown)="onKeydown($event)" name="verificationCode" id="verificationCode" [(ngModel)]="verificationCode" type="text" placeholder="6-digit verification code" style="margin: 10px 0;" />
        <button type="button" (click)="verifyAuthenticator()" class="form-control btn">Verify</button>
    </div>
    <div class="form-group" *ngIf="errors.length > 0">
        <ul [innerHTML]="errors" class="error" style="margin: 10px 0;"></ul>
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox" name="displayValidVerificationCodes" (ngModelChange)="toggleValidVerificationCodes($event)" [(ngModel)]="displayValidVerificationCodes">Show possible verification codes
        </label>
    </div>
    <div class="" *ngIf="displayValidVerificationCodes && validVerificationCodes.length > 0">
        <h5>Valid 6-digit verification codes</h5>
        <span (click)="verificationCode = validVerificationCode" class="validVerificationCode" *ngFor="let validVerificationCode of validVerificationCodes">{{validVerificationCode}}</span>
    </div>
</div>
<div class="col-sm-6 col-sm-offset-3" *ngIf="recoveryCodes.length > 0">
    <h5>Copy and save your recovery codes</h5>
    <ul>
        <li *ngFor="let recoveryCode of recoveryCodes">{{recoveryCode}}</li>
    </ul>
</div>