.share {
    padding-top: 90px;
}

.message {
    padding: 14px;
}

.contact {
    color: #4189C7;
    font-size: large;
}

.grant-error {
    color: #E91E63;
}

.grant-success {
    color: #029f5b;
    text-align: center;
}