<div class="">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-share">
                <div class="panel-heading">
                    <div class="row">
                        <div class="">
                            <a href="#" class="active" id="share-form-link">Share with Social API</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div *ngIf="!socialLoggedIn">
                        <div class="row message">
                            It looks like you are not logged in with Social API. Press the Log In button to continue and get access to Social API.
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="button" name="social-submit" id="social-submit" (click)="login()" class="form-control btn btn-login">Log in</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="socialLoggedIn">
                        <div class="row">
                            <div class="col-lg-12">
                                Congratulations! You have successfully connected with Social API!
                            </div>
                            <div *ngIf="socialApiAccessDenied" class="col-lg-12 grant-error">
                                It seems though you haven't granted access to the <b>Social API</b>
                            </div>
                        </div>
                        <div class="row message">
                            <ul class="list-group">
                                <li *ngFor="let contact of contacts" class="list-group-item"><span class="contact">{{contact.name}}</span> <span class="badge">{{contact.username}}</span></li>
                            </ul>
                            <div *ngIf="!socialApiAccessDenied" class="col-lg-12 grant-success">
                                <span>ASP.NET Core Identity Series</span> has been shared with your contacts
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="button" name="social-submit" id="social-submit" (click)="logout()" class="form-control btn btn-login">Logout</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>