<h1 id="aspnetcoreidentityseries">ASP.NET Core Identity Series</h1>

<h2 id="themostcompleteguideforaspnetcoreidentity">The most complete guide for ASP.NET Core Identity</h2>

<p><img class="img-responsive" src="https://chsakell.files.wordpress.com/2018/04/aspnet-core-identity-13.png" alt="ASP.NET Core Identity Series" /></p>

<p>
    
</p>

<h2 id="part1gettingstartedhttpchsakellcom20180428aspnetcoreidentityseriesgettingstarted">Part 1 - <a href="http://chsakell.com/2018/04/28/asp-net-core-identity-series-getting-started">Getting Started</a></h2>

<ul>
    <li>Introduction to ASP.NET Core Identity library</li>

    <li>Describe ASP.NET Core Identity basic archirecture</li>

    <li>Explain the role and relationship between <code>Stores</code> and <code>Managers</code> and how they function under the hood</li>

    <li>Explain what <code>Claims</code>, <code>ClaimsIdentity</code> and <code>ClaimsPrincipal</code> entities are and how they are related</li>

    <li>Step by step guide on how to install and start using the core packages</li>

    <li>Associated repository branch: <a href="https://github.com/chsakell/aspnet-core-identity/tree/getting-started">getting-started</a></li>
</ul>

<h2 id="part2integrateentityframeworkhttpswpmep3mrwu1i4">Part 2 - <a href="https://wp.me/p3mRWu-1i4">Integrate Entity Framework</a></h2>

<ul>
    <li>Introduce <code>Microsoft.Extensions.Identity.Stores</code> and <code>UserStoreBase</code> store implementations</li>

    <li>Plug and configure Entity Framework Core with ASP.NET Core Identity and minimum configuration</li>

    <li>Explain Entity Framework different store implementations such as <code>UserOnlyStore</code> or <code>UserStore</code></li>

    <li>Step by step guide for applying migrations and creating Identity's SQL Schema</li>

    <li>Discuss whether you should use ASP.NET Core Identity with Entity Framework</li>

    <li>Associated repository branch: <a href="https://github.com/chsakell/aspnet-core-identity/tree/entity-framework-integration">entity-framework-integration</a></li>
</ul>

<h2 id="part3deepdiveinauthorizationhttpswpmep3mrwu1ik">Part 3 - <a href="https://wp.me/p3mRWu-1ik">Deep Dive in authorization</a></h2>

<ul>
    <li>Explain <code>Claims-based</code> authorization by example</li>

    <li>Explain <code>Role-based</code> authorization by example</li>

    <li>Step by step guide for creating custom <code>Authorization Policy Provider</code></li>

    <li>Explain how authorization works under the hood</li>

    <li>Explain <code>Imperative authorization</code> by example</li>

    <li>Associated repository branch: <a href="https://github.com/chsakell/aspnet-core-identity/tree/authorization">authorization</a></li>
</ul>

<h2 id="part4oauth20openidconnectidentityserverhttpswpmep3mrwu1ag">Part 4 - <a href="https://wp.me/p3mRWu-1Ag">OAuth 2.0, OpenID Connect &amp; IdentityServer</a></h2>

<ul>
    <li>Explain how <code>OAuth 2.0</code> works <em>(terminology, grant types, tokens)</em></li>

    <li>Explain how <code>OpenID Connect</code> works <em>(terminology, tokens, flows)</em></li>

    <li>Learn how to use <code>IdentityServer</code> for integrating  <code>OAuth 2.0</code> and <code>OpenID Connect</code></li>

    <li>Associated repository branch: <a href="https://github.com/chsakell/aspnet-core-identity/tree/identity-server">identity-server</a></li>
</ul>

<h2 id="part5externalproviderauthenticationregistrationstrategyhttpswpmep3mrwu1kq">Part 5 - <a href="https://wp.me/p3mRWu-1Kq">External provider authentication &amp; registration strategy</a></h2>

<ul>
    <li>
        Step by step guides for enabling external provider authentication


        <ul>
            <li><a href="https://wp.me/p3mRWu-1Kq#google">Google authentication</a></li>

            <li><a href="https://wp.me/p3mRWu-1Kq#facebook">Facebook authentication</a></li>

            <li><a href="https://wp.me/p3mRWu-1Kq#twitter">Twitter authentication</a></li>

            <li><a href="https://wp.me/p3mRWu-1Kq#microsoft">Microsoft authentication</a></li>

            <li><a href="https://wp.me/p3mRWu-1Kq#github">GitHub authentication</a></li>

            <li><a href="https://wp.me/p3mRWu-1Kq#linkedin">LinkedIn authentication</a></li>

            <li><a href="https://wp.me/p3mRWu-1Kq#dropbox">DropBox authentication</a></li>
        </ul>
    </li>

    <li>Implement an external provider <a href="https://wp.me/p3mRWu-1Kq#registration-strategy">registration strategy</a></li>

    <li>Associated repository branch: <a href="https://github.com/chsakell/aspnet-core-identity/tree/external-authentication">external-authentication</a></li>
</ul>

<h2 id="part6twofactorauthenticationhttpswpmep3mrwu1pe">Part 6 - <a href="https://wp.me/p3mRWu-1Pe">Two-Factor Authentication</a></h2>

<ul>
    <li>
        Implement all Two Factor Authentication related tasks:


        <ul>
            <li>Enable/Disable 2FA</li>
            
            <li>Configure authenticator app <em>(QR Code included)</em></li>

            <li>Generate/Reset recovery tokens</li>

            <li>Reset authenticator app</li>
        </ul>
    </li>

    <li>Explore the 2FA code and database schema</li>

    <li>
        Enhance the security level of 2FA by overriding the default implementation


        <ul>
            <li>Encrypt authenticator key</li>

            <li>Encrypt recovery tokens</li>
        </ul>
    </li>
</ul>

<blockquote>
    <p>To be continued..</p>
</blockquote>

<h2 id="installationinstructions">Installation instructions</h2>

<p>The project is built with ASP.NET Core with Angular on the client side. </p>

<ol>
    <li>
        <strong>Basic project setup</strong>:


        <ul>
            <li><code>cd ./AspNetCoreIdentity</code> where the package.json file exist</li>

            <li><code>npm install</code></li>

            <li><code>dotnet restore</code></li>

            <li><code>dotnet build</code></li>

            <li><code>dotnet run</code></li>
        </ul>
    </li>

    <li>
        <strong>Create the <em>AspNetCoreIdentityDb</em> database</strong> <em>(skip if you want to run with In memory DB)</em>


        <ul>
            <li><code>cd ./AspNetCoreIdentity</code> where the AspNetCoreIdentity.csproj exist</li>

            <li><code>Add-Migration initial_migration</code> or <code>dotnet ef migrations add initial_migration</code></li>

            <li><code>Update-Database</code> or <code>dotnet ef database update</code></li>
        </ul>
    </li>

    <li>
        <strong>Create the <em>IdentityServerDb</em> database</strong> <em>(skip if you want to run with In memory DB)</em>


        <ul>
            <li>Follow the <a href="https://github.com/chsakell/aspnet-core-identity/blob/master/IdentityServer/Data/Migrations/instructions.md">instructions</a></li>
        </ul>
    </li>
</ol>

<blockquote>
    <p>In case you don't want to use a real SQL Server Database when running the <code>AspNetCoreIdentity</code> project, simply set <strong>InMemoryProvider: true</strong> in the <em>appsettings.json</em>. This option will use in memory database</p>

    <p>In case you don't want to use a real SQL Server Database when running the <code>IdentityServer</code> project simply set <strong>UseInMemoryStores: true</strong> in the relative <em>appsettings.json</em> This option will use in memory database</p>
</blockquote>

<h3 style="font-weight:normal;">Follow chsakell's Blog</h3>

<table id="gradient-style" style="box-shadow:3px -2px 10px #1F394C;font-size:12px;margin:15px;width:290px;text-align:left;border-collapse:collapse;" summary="">
    <thead>
        <tr>
            <th style="width:130px;font-size:13px;font-weight:bold;padding:8px;background:#1F1F1F repeat-x;border-top:2px solid #d3ddff;border-bottom:1px solid #fff;color:#E0E0E0;" align="center" scope="col">Facebook</th>
            <th style="font-size:13px;font-weight:bold;padding:8px;background:#1F1F1F repeat-x;border-top:2px solid #d3ddff;border-bottom:1px solid #fff;color:#E0E0E0;" align="center" scope="col">Twitter</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4" style="text-align:center;">Microsoft Web Application Development</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td style="padding:8px;border-bottom:1px solid #fff;color:#FFA500;border-top:1px solid #fff;background:#1F394C repeat-x;">
                <a href="https://www.facebook.com/chsakells.blog" target="_blank"><img src="https://chsakell.files.wordpress.com/2015/08/facebook.png?w=120&amp;h=120&amp;crop=1" alt="facebook" width="120" height="120" class="alignnone size-opti-archive wp-image-3578"></a>
            </td>
            <td style="padding:8px;border-bottom:1px solid #fff;color:#FFA500;border-top:1px solid #fff;background:#1F394C repeat-x;">
                <a href="https://twitter.com/chsakellsBlog" target="_blank"><img src="https://chsakell.files.wordpress.com/2015/08/twitter-small.png?w=120&amp;h=120&amp;crop=1" alt="twitter-small" width="120" height="120" class="alignnone size-opti-archive wp-image-3583"></a>
            </td>
        </tr>
    </tbody>
</table>

<h3>License</h3>

<p>Code released under the <a href="https://github.com/chsakell/aspnet-core-identity/blob/master/LICENSE" target="_blank"> MIT license</a>.</p>